.center-text {
  text-align: center;
}

.border-text {
  border-bottom: 1px solid grey;
}

.center-content-flex {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p[class='dropdown-item'] {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.codeElements a,
.codeText {
  font-family: 'Courier New', Courier, monospace;
}

.inline-header {
  display: inline;
}

.condition-badge {
  padding: 7px;
  cursor: pointer;
}